.CategoriesSection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &-list {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);

    overflow-y: hidden;
    max-height: 224px;

    @media screen and (max-width: 768px) {
      max-height: 234px;
      padding-bottom: 10px;
    }
  }
}
