.ResultsSection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &-title {
    margin-bottom: 20px;
  }

  &-pets {
    display: flex;
    gap: 40px;
    flex-flow: nowrap;

    overflow-y: hidden;
    overflow-x: auto;
    max-height: 412px;
    padding-bottom: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      flex-flow: wrap;

      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 0;
      padding-right: 10px;
    }
  }
}
