.PetCard {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  &-photo {
    width: 330px;
    height: 300px;
    object-fit: fill;
    border-radius: 10px;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      margin-bottom: 5px;
      margin-right: 10px;
      width: 120px;
      height: 100px;
      object-fit: cover;
    }
  }

  &-name {
    @media screen and (max-width: 768px) {
      flex: 1;
    }
  }

  &-buttons {
    &--main {
      margin-top: 10px;
      width: 50%;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &--small {
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
}
